/* common */
* {
    font-size: 13px;
    font-family: 'Open Sans', Lato, 'PT Sans', Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Zen Hei Mono', sans-serif;
    line-height: 1;
}
a,
a:focus,
a:hover {
    text-decoration: underline;
    color: #099242;
}
a.btn,
a.btn:hover,
a.btn:focus {
    text-decoration: none;
}
.dropdown-menu > li > a {
    text-decoration: none;
}
.text-danger {
    color: #ff2020;
}
label {
    font-weight: normal;
    font-size: 13px;
    color: #656565;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 20px;
}
.btn {
    font-size: 13px;
}
p {
    color: #656565;
    line-height: 22px;
    margin-bottom: 5px
}
ol, ul.content-text {
    padding: 0px 0px 0px 15px;
    margin-bottom: 20px;
}
ol > li,
ul.content-text > li {
    color: #656565;
    line-height: 22px;
}
h4 {
    font-size: 16px;
    margin: 0px 0px 30px;
}
img {
    max-width: 100%;
}
hr {
    margin: 20px 0px;
    border: 0px;
    border-top: 1px solid #e5e5e5;
}
section {
    margin-bottom: 40px;
}
section.page-title-section {
    margin-bottom: 20px;
}
table.table th,
table.table td {
    vertical-align: middle;
}
table.table td {
    color: #656565;
}
table.table a {
    text-decoration: none;
}
.subsection {
    margin-bottom: 30px;
}
.left-border-title {
    border-left: 3px solid #099242;
    line-height: 1;
    margin: 0px 0px 10px;
    font-size: 15px;
    padding: 0px 0px 0px 5px;
}
.left-border-title-lg {
    font-size: 18px;
    line-height: 1.2;
    padding: 0px 0px 0px 10px;
}
.image-background {
    background: transparent url(../images/new_interface_image/banner.jpg)repeat scroll center center;
}
.color-background {
    background-color: #f8f8f8;
}
.color-background-block {
    padding: 20px;
}
.color-background-block > p {
    color: #999;
}
.background-btn,
.background-btn:focus,
.background-btn:hover {
    color: #fff;
    background: #099242;
    border: 1px #099242 solid;
}
.background-btn-o,
.background-btn-o:focus,
.background-btn-o:hover {
    color: #099242;
    background: #fff;
    border: 1px #099242 solid;
}
.background-btn-o:hover {
    color: #fff;
    background: #099242;
}
.underline-title {
    margin-bottom: 20px;
}
.underline-title > div {
    border-bottom: 1px solid #bbb;
}
.underline-title > div > h4 {
    border-bottom: 1px solid #099242;
    margin: 0px 0px -0.8px 0px;
    line-height: 1;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 10px;
}
.text-icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    background-color: #099242;
}
.text-icon > i {
    line-height: 40px;
}
.text-icon > img,
.text-icon > svg {
    height: 60%;
    width: 60%;
    vertical-align: initial;
    margin: 20%;
    color: #fff;
}
.text-icon-o {
    color: #099242;
    border: solid 2px #099242;
    background-color: transparent;
}
.text-icon-green {
    background-color: #32bca3;
}
.text-icon-blue {
    background-color: #25b6d3;
}
.text-icon-yellow {
    background-color: #f7bb41;
}
.text-icon-red {
    background-color: #e04f5e;
}
.text-icon-sm {
    height: 30px;
    width: 30px;
    font-size: 18px;
    line-height: 30px;
    margin-right: 5px;
}
.text-icon-sm > i {
    line-height: 30px;
}
.text-icon-lg {
    height: 60px;
    width: 60px;
    font-size: 23px;
    line-height: 60px;
}
.text-icon-lg > i {
    line-height: 60px;
}
.page-title {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.page-title > h4 {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    color: #151515;
    margin: 0px 0px 10px;
}
.breadcrumb {
    display: inline-block;
    background-color: transparent;
    padding: 0px;
}
.breadcrumb li.active {
    color: #099242;
    font-size: 12px;
}
.breadcrumb li a,
.breadcrumb li a:focus {
    color: #a9a9a9;
    font-size: 12px;
    text-decoration: none;
}
.breadcrumb li a:hover {
    color: #099242;
    text-decoration: none;
}
.nav-border-tabs {
    margin-bottom: 15px;
    border-bottom-color: #e5e5e5;
}
.nav-tabs.nav-border-tabs > li > a,
.nav-tabs.nav-border-tabs > li > a:focus,
.nav-tabs.nav-border-tabs > li > a:hover {
    border: 1px solid transparent;
    border-top-width: 2px;
    border-radius: 0px;
    text-decoration: none;
    color: #999;
    background-color: #fff;
    border-bottom-color: #e5e5e5;
}
.nav-tabs.nav-border-tabs > li.active > a,
.nav-tabs.nav-border-tabs > li.active > a:focus,
.nav-tabs.nav-border-tabs > li.active > a:hover {
    border-color: #e5e5e5;
    border-bottom-color: #fff;
    border-top: 2px solid #099242;
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
.search-bar-group input,
.search-bar-group input:focus {
    height: 60px;
    font-family: Tahoma;
    color: #999;
    line-height: 20px;
    padding: 20px;
    border: 0px;
    box-shadow: none;
    z-index: 0;
}
.search-bar-group button,
.search-bar-group button:hover {
    padding: 20px 30px;
    line-height: 20px;
    font-size: 16px;
    border: 0px;
    z-index: 1;
}
.progress {
    background-color: #e5e5e5;
    box-shadow: none;
    height: 4px;
}
.progress-container > p {
    margin-bottom: 10px;
    line-height: 1;
}
.progress-bar {
    background-color: #099242;
}
.progress-bar-green {
    background-color: #32bca3;
}
.progress-bar-blue {
    background-color: #25b6d3;
}
.progress-bar-yellow {
    background-color: #f7bb41;
}
.progress-bar-red {
    background-color: #e04f5e;
}
/* top bar */
.base-top-bar {
    height: 40px;
    background-color: #099242;
    width: 100%;
}
.base-top-bar .list-inline {
    margin: 0px;
    padding: 0px;
    height: 40px;
}
.base-top-bar .list-inline a {
    color: #fff;
}
.base-top-bar .list-inline li {
    padding: 10px 20px 10px 0px;
}
.list-inline.base-top-social-bar > li > a {
    line-height: 20px;
    text-decoration: none;
}
.base-top-bar .list-inline.base-top-account-bar li {
    padding: 12.5px 0px;
}
.base-top-account-bar li a {
    border-left: #fff 1px solid;
    padding: 0px 15px;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}
.base-top-account-bar li a i {
    margin-right: 5px;
}
.base-top-account-bar li:first-child a {
    border-left: 0px;
}
.base-top-account-bar li:last-child a {
    padding-right: 0px;
}
/* nav bar */
.base-nav-bar {
    height: 100px;
    border-bottom: 1px #e5e5e5 solid;
}
.base-nav-logo-img {
    margin: 25px 0px;
}
.base-nav-bar-main {
    margin: 0px;
    padding: 0px;
}
.base-nav-bar-main > li {
    margin: 0px;
    padding: 0px;
}
.base-nav-bar-main > li > a {
    padding: 43px 20px;
    font-size: 14px;
    display: block;
    color: #656565;
    text-decoration: none;
}
.base-nav-bar-main > li:last-child > a {
    padding-right: 0px;
}
.base-nav-bar-main > li a:hover,
.base-nav-bar-main > li.active > a,
.base-nav-bar-main > li.active > a:hover {
    color: #099242;
}
ul.base-nav-bar-main > li.dropdown > ul.dropdown-menu {
    border-radius: 0px;
    border-color: #e5e5e5;
    box-shadow: none; 
}
ul.base-nav-bar-main > li.dropdown > ul.dropdown-menu > li > a {
    color: #656565;
}
ul.base-nav-bar-main > li.dropdown > ul.dropdown-menu > li > a:hover {
    background-color: #fff;
    color: #099242;
}
ul.base-nav-bar-main > li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: -1px;
}
/* footer bar */
.base-footer-bar {
    background-color: #404040;
    height: 135px;
}
.base-footer-logo-bar {
    margin: 50.5px 0px;
}
.base-footer-logo-bar li {
    padding: 0px 20px;
}
.base-footer-logo-bar li:first-child {
    padding-left: 0px;
}
.base-footer-logo-bar li:last-child {
    padding-right: 0px;
}
.base-footer-email {
    margin: 42.9px 0px 15px 0px;
    line-height: 1;
}
.base-footer-email a {
    color: #bbb;
    text-decoration: none;
}
.base-footer-social-bar {
    margin: 0px 0px 42.9px 0px;
    padding: 0px;
}
.base-footer-social-bar li {
    margin-left: 20px;
    border-radius: 3px;
    border: #bbb 1px solid;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0px;
    background-color: #454545;
}
.base-footer-social-bar li a {
    color: #bbb;
    line-height: 20px;
    font-size: 13px;
}
/* home */
.home-search-bar-title {
    font-weight: bold;
    font-family: Arial;
    font-size: 34px;
    text-shadow: 1px 2px 2px rgba(4,0,0,.75);
    color: #fff;
    margin: 45px 0px 24.2px 0px;
    line-height: 1;
}
.home-search-bar-subtitle {
    text-shadow: 0 1px 1px rgba(4,0,0,.75);
    color: #fff;
    margin: 0px 0px 50px 0px;
    line-height: 1;
    font-size: 16px;
}
.home-search-bar-group {
    margin: 0px 0px 45px;
}
.home-text-icon-list {
    margin-bottom: 0px;
}
.home-text-icon-list li {
    width: 33%;
    margin-bottom: 20px;
}
.home-text-icon-list li a,
.home-text-icon-list li a:focus {
    color: #656565;
    text-decoration: none;
}
.home-text-icon-list li a:hover {
    color: #099242;
    text-decoration: none;
}
.home-text-icon-list li a span {
    color: #e04f5e;
}
.home-rss-link,
.home-rss-link:focus {
    text-decoration: none;
}
.home-rss-link:hover {
    text-decoration: underline;
}
.home-color-background-block {
    padding: 40px 0px;
    margin: 40px 0px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
}
.color-background > div > div:last-child > .home-color-background-block {
    border: 0px;
}
.row.home-color-background-grid {
    margin: 0px;
}
.row.home-color-background-grid > div {
    padding: 0px;
}
.home-color-background-block > * {
    margin: 0px 0px 20px 0px;
}
.home-color-background-block > *:last-child {
    margin-bottom: 0px;
}
.home-color-background-block h4 {
    font-size: 30px;
    line-height: 1;
}
.home-color-background-block p {
    color: #999;
    line-height: 1;
}
.home-tags-list > li {
    margin-bottom: 10px;
}
.home-tags-list > li > .btn-default,
.home-tags-list > li > .btn-default:hover,
.home-tags-list > li > .btn-default:focus {
    border-color: #e5e5e5;
    background: #fff;
    font-size: 13px;
    color: #656565;
}
/* contact */
.contact-form input,
.contact-form textarea,
.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #e5e5e5;
    box-shadow: none;
}
.fa-ul {
    margin-left: 22px;
}
.fa-ul li {
    margin-bottom: 10px;
    color: #656565;
}
.fa-ul i {
    color: #099242;
}
/* about */
h4.about-title {
    margin-bottom: 20px;
}
table.table.about-partner-table > tbody > tr > td > a {
    display: inline-block;
    vertical-align: middle;
}
table.table.about-partner-table > tbody > tr > td {
    border-top: 0px;
    vertical-align: middle;
}
/* advisory */
.advisory-img-block img {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}
.advisory-img-block {
    width: 20%;
    text-align: center;
}
.advisory-img-block p {
    margin-bottom: 30px;
}
.advisory-img-block a {
    color: #656565;
    text-decoration: none;
}
.advisory-img-block a:hover {
    color: #099292;
    text-decoration: underline;
}
/* dataset */
.media-left {
    padding-right: 20px;
}
.media-object {
    max-width: none;
    width: 300px;
    height: auto;
}
p.dataset-release-date-text {
    margin-bottom: 10px;
    padding-left: 13px;
}
.dataset-color-background-block {
    padding: 13px;
}
.dataset .subsection {
    margin-bottom: 20px;
}
.dataset .background-btn {
    height: 44px;
}
.doi-badge .badge:last-child {
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    background-color: #099242;
    padding: 5px 10px;
    border-radius: 0px 4px 4px 0px;
    text-decoration: none;
}
.doi-badge .badge:first-child {
    background-color: #aaaaaa;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 4px 0px 0px 4px;
}
.table > thead > tr > th {
    text-align: center;
    font-weight: normal;
    border-bottom: 0px;
    background-color: #f8f8f8;
}
.pagination {
    margin: 0px;
    display: inline-block;
}
.pagination > li {
    height: 34px;
    display: inline-block;
}
.pagination > li > span,
.pagination > li > a {
    padding: 7px 15px;
    color: #333;
    float: none;
    margin-left: -5px;
    display: block;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    background-color: #f8f8f8;
    color: #333;
    border-color: #e5e5e5;
}
.pagination > li > a:focus, 
.pagination > li > a:hover, 
.pagination > li > span:focus, 
.pagination > li > span:hover {
    border-color: #e5e5e5;
    background-color: #f8f8f8;
    color: #333;
}
.pagination-component > .pagination {
    margin-right: 10px;
}
.pagination-component > .form-inline {
    display: inline-block;
}
.pagination-component > .form-inline .form-control,
.pagination-component > .form-inline .form-control:hover,
.pagination-component > .form-inline .form-control:focus {
    width: 50px;
    box-shadow: none;
    border-color: #ddd;
}
.help .media-object {
    width: auto;
}
.help .table {
    margin-bottom: 5px;
}
.help .table > tbody > tr > td {
    vertical-align: middle;
    border-top: 0px;
}
.help .table > tbody > tr > td:first-child {
    padding: 5px 0px;
}
.help .table > tbody > tr > td:last-child {
    padding: 5px 0px 5px 5px;
}
.help .table > tbody > tr > td > p {
    margin: 0px;
}
.faq-search-bar > input,
.faq-search-bar > input:hover,
.faq-search-bar > input:focus {
    height: 49px;
    box-shadow: none;
    font-size: 13px;
    padding: 18px;
    border-color: #e5e5e5;
}
.faq-search-bar button {
    font-size: 20px;
    height: 49px;
    line-height: 49px;
    padding: 0px 20px;
}
.panel-default {
    border-color: #e5e5e5;
}
.panel-heading {
    padding: 0px;
}
.panel-default > .panel-heading {
    background-color: #f8f8f8;
    border-color: #e5e5e5;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #e5e5e5;
}
.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    color: #333;
    text-decoration: none;
}
.panel-title > a {
    padding: 0px 20px 0px 40px;
    display: block;
    height: 44px;
    line-height: 44px;
}
.panel-title > a::before {
    content: "\f0fe";
    font-family: FontAwesome;
    font-size: 16px;
    color: #099242;
    margin-left: -20px;
    margin-right: 3px;
}
.panel-title > a[aria-expanded="true"]::before {
    content: "\f146";
    font-family: FontAwesome;
}
.panel-body {
    padding: 15px 20px;
}
.panel-group .panel {
    margin: 0px 0px 20px;
    box-shadow: none;
    border-radius: 0px;
}
.profile-panel {
    border-radius: 0px;
}
.profile-panel hr {
    border-style: dashed;
    margin: 30px 0px;
}
.profile-panel .panel-heading {
    padding: 20px;
}
.profile-panel .panel-heading p {
    color: #333;
}
.profile-panel .panel-heading *:last-child {
    margin-bottom: 0px;
}
.profile-panel .panel-heading img {
    height: 100px;
    width: 100px;
}
.profile-panel .panel-body {
    padding: 30px;
}
.profile-panel .panel-body table.table {
    margin-bottom: 0px;
}
.profile-panel .panel-body table.table > tbody > tr > td,
.profile-panel .panel-body table.table > tbody > tr > th {
    width: 50%;
    border-top: 0px;
    padding: 8px 5px;
    font-weight: normal;
}
.profile-panel .panel-body .checkbox {
    margin: 0px 0px 20px;
}
.profile-panel .panel-body .checkbox label {
    color: #333;
}
.profile-panel .panel-body .checkbox input {
    margin-top: 0px;
}
.profile-panel .panel-body button {
    width: 90px;
}
.profile-panel .panel-body button.btn-default,
.profile-panel .panel-body button.btn-default:hover,
.profile-panel .panel-body button.btn-default:focus {
    color: #999;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}
.profile-panel label {
    color: #333;
}
.new-upload-table {
    margin: 0px;
}
.new-upload-table > tbody > tr > td {
    border-top: 0px;
    padding: 0px;
}
table.submitted-table > thead > tr > th {
    white-space: nowrap;
}
table.submitted-table > thead > tr > th,
table.submitted-table > tbody > tr > td,
table.saved-table > thead > tr > th,
table.saved-table > tbody > tr > td {
    padding: 10px 13px;
    vertical-align: middle;
    line-height: 20px;
}
table.submitted-table > tbody > tr > td:nth-child(1),
table.submitted-table > tbody > tr > td:nth-child(4),
table.submitted-table > tbody > tr > td:nth-child(5),
table.submitted-table > tbody > tr > td:nth-child(6),
table.submitted-table > tbody > tr > td:nth-child(7),
table.submitted-table > tbody > tr > td:nth-child(8),
table.submitted-table > tbody > tr > td:nth-child(9) {
    text-align: center;
    white-space: nowrap;
}
table.submitted-table > tbody > tr > td:nth-child(9) > a {
    font-size: 14px;
}
table.submitted-table > tbody > tr > td:nth-child(9) > a:first-child {
    margin-right: 15px;
}
.member-table > tbody > tr > td {
    width: 25%;
    border: 0px;
}
.thumbnail {
    background-color: #f8f8f8;
    border-radius: 0px;
    border: 0px;
    padding: 0px;
    height: inherit;
    margin-bottom: 0px;
}
.thumbnail .caption {
    padding: 15px;
}
.thumbnail .caption h3 {
    margin: 0px 0px 10px;
    font-size: 18px;
    color: #333;
    line-height: 28px;
}
.thumbnail .caption h3 > small {
    font-size: 13px;
    color: #999;
}
.thumbnail .member-social-list {
    margin: 0px;
}
.thumbnail .member-social-list a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #ddd;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 10px;
}
.search-search-bar-title {
    font-family: "Open Sans";
    font-size: 18px;
    text-shadow: 1px 2px 2px rgba(4,0,0,.75);
    color: #fff;
    margin: 100px 0px 36.2px 0px;
    line-height: 1;
}
.search-search-bar-group {
    margin: 0px 0px 100px;
}
.search-search-bar-group .search-bar-group input,
.search-search-bar-group .search-bar-group input:focus {
    height: 45px;
    padding: 12.5px 17px;
    z-index: 0;
}
.search-search-bar-group .search-bar-group button {
    height: 45px;
    font-size: 20px;
    line-height: 20px;
    padding: 12.5px 20px;
    z-index: 1;
}
.search-result-block .search-result-block-title {
    margin-bottom: 15px;
}
.search-result-block .search-result-block-title > h4 {
    font-size: 18px;
    margin: 0px;
    color: #333;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.search-result-block .color-background-block {
    margin-bottom: 15px;
}
.search-filter-sidebar .checkbox {
    margin-right: 15px;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    margin-right: 5px;
}
.checkbox > input[type="checkbox"] + label::before {
    content: "\f096";
    font-size: 16px;
    font-family: FontAwesome;
    color: #e5e5e5;
    position: absolute;
    left: 0;
    display: inline-block;
}
.checkbox > input[type="checkbox"]:checked + label::before {
    content: "\f14a";
    font-size: 16px;
    font-family: FontAwesome;
    color: #099242;
    position: absolute;
    left: 0;
    display: inline-block;
}
.file-size-filter .btn-default,
.file-size-filter .btn-default:hover,
.file-size-filter .btn-default:focus,
.file-size-filter .open .btn-default,
.file-size-filter .open .btn-default:hover,
.file-size-filter .open .btn-default:focus {
    border-color: #e5e5e5;
    background-color: #f8f8f8;
    color: #656565;
}
.file-size-filter .dropdown-menu {
    box-shadow: none;
    border-radius: 0px;
    border-color: #e5e5e5;
}
.file-size-filter .dropdown-menu a {
    padding: 3px 10px;
}
.search-filter-sidebar input {
    color: #FFFFFF;
}
.publication-date-filter input {
    background-color: #f8f8f8;
}
.form-control,
.form-control:hover,
.form-control:focus {
    border-color: #e5e5e5;
    box-shadow: none;
    color: #656565;
    font-size: 13px;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    border-color: #e5e5e5;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
    background-color: #099242;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom::after,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom::before {
    border: none;
}
.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: #099242;
}
.dataset-des-images {
  max-height: 50px;
  margin-right: 10px;
  height: 28px;
}
.dataset-des-images:hover {
  opacity: 0.6;
}
.count-btn{
	margin-right:20px;
	float:left;
	margin-top: 0px;
	iframe {
		max-height: 25px;
		max-width: 90px;
	}
}

#facebook-share-btn {
/*	position: relative;
	top: -15px;
	left: -90px;*/
}
.download-btn {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('/images/download-icon.png');
  margin-left: auto;
  margin-right: auto;
}
.download-btn:hover {
  background-position: 0 -27px;
}

.profile-label {
  padding-top: 5px;
  float: left;
}

.tab-content {
  overflow: auto;
}

.search-result-container {
  background-color: #ededed;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.span8 {
  width: 620px;
}
.span9 {
  width: 700px;
}
.offset3 {
  margin-left: 260px;
}

.logo-container {
  padding-top: 10px !important;
}
.logo-container img {
  max-width: 30px;
  margin-left: 20px !important;
}
.main-content {
  margin-left: 10px !important;
}
.file-container .logo-container-file {
  padding-top: 10px !important;
  padding-top: 5px !important;
}
.file-container .logo-container-file img {
  max-width: 30px;
  margin-left: 20px !important;
}
.file-container .file-name,
.file-container .file-type,
.file-container .file-size,
.file-container .file-checkbox {
  padding-top: 15px;
  margin-left: 0px !important;
  float: left;
  text-align: center;
}
.file-container .file-name {
  text-align: left !important;
  margin-left: 20px !important;
  font-size: 15px !important;
}
.result .nav-tabs .active a,
.result .nav-tabs a:hover {
  background: transparent !important;
}
.popover-box {
  width: 200px;
  height: 200px;
}

.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.nav > .pull-right {
  float: right;
}
.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  background-color: #08c;
}
.nav-list [class^="icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before,
.nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  display: table;
  content: "";
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #fff;
  background-color: #08c;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2;
}
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #08c;
  border-bottom-color: #08c;
  margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.nav > .dropdown.active > a:hover {
  color: #000;
  cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #fff;
  background-color: #999;
  border-color: #999;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.result-sub-links {
  font-weight: bold;
  color: #00B050 !important;
}
.result-sub-links:hover {
  background-color: transparent !important;
  color: #7AB441 !important;
}
.result-cell li .result-main-link {
  font-size: 17px !important;
  color: #00B050 !important;
}
.result-cell li .result-main-link:hover {
  color: #7AB441 !important;
  background-color: transparent !important;
}
.result-cell li a {
  padding-left: 0px !important;
  border-width: 0px !important;
  background-color: transparent !important;
  color: #000 !important;
}
.result-cell li a:hover {
  background-color: transparent !important;
  color: #7AB441;
}

.row1 {
  margin-left: -20px;
  *zoom: 1;
}
.row1:before,
.row1:after {
  display: table;
  content: "";
}
.row1:after {
  clear: both;
}

.result-cell li .result-main-link {
  font-size: 17px !important;
  color: #00B050 !important;
}
.result-cell li .result-main-link:hover {
  color: #7AB441 !important;
  background-color: transparent !important;
}

[class*="span"] {
  float: left;
  margin-left: 20px;
}
.filter-your-result {
  font-size: 18px;
  font-weight: bold;
  color: #4F6228;
  margin-bottom: 20px !important;
}
.filter {
  margin-bottom: 10px;
}
.filter h4 {
  background: #a5cc7e;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#a5cc7e),to(#6ea23a));
  background: -webkit-linear-gradient(#a5cc7e,#6ea23a);
  background: -moz-linear-gradient(#a5cc7e,#6ea23a);
  background: -ms-linear-gradient(#a5cc7e,#6ea23a);
  background: -o-linear-gradient(#a5cc7e,#6ea23a);
  background: linear-gradient(#a5cc7e,#6ea23a);
  -pie-background: linear-gradient(#a5cc7e,#6ea23a);
  behavior: url(/css/PIE.htc);
  color: #fff;
  line-height: 2em;
  text-align: center;
  margin-bottom: -2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  behavior: url(/css/PIE.htc);
  overflow: hidden;
}
.filter .options {
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  behavior: url(/css/PIE.htc);
  padding: 5px 10px;
}
.filter .options label {
  display: inline;
  color: #333;
}
.filter .options input.date {
  width: 150px;
}
.filter .options input.size {
  width: 90px;
}
.filter .options select.unit {
  width: 55px;
  margin-left: 5px;
  font-size: 11px;
}
.filter .disabled {
  background-color: #eeeeee;
}
.filter .disabled label,
.filter .disabled input {
  color: #8A8A8A;
}
.filter button.btn {
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 0;
  border-radius: 0;
  width: 100%;
  height: 20px;
  padding-top: 1px;
  font-weight: normal;
}

.btn-green {
  background: #f2f2f2;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#f2f2f2),to(#dddddd));
  background: -webkit-linear-gradient(#f2f2f2,#dddddd);
  background: -moz-linear-gradient(#f2f2f2,#dddddd);
  background: -ms-linear-gradient(#f2f2f2,#dddddd);
  background: -o-linear-gradient(#f2f2f2,#dddddd);
  background: linear-gradient(#f2f2f2,#dddddd);
  -pie-background: linear-gradient(#f2f2f2,#dddddd);
  behavior: url(/css/PIE.htc);
  font-weight: bold;
  border: 0;
  text-shadow: none;
  color: #666666;
  text-decoration: none;
  box-shadow: 0 0 0;
  position: relative;
  z-index: 1;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(top,#fff,#e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: #ccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
  border: 0;
  background: #a5cc7e;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#a5cc7e),to(#6ea23a));
  background: -webkit-linear-gradient(#a5cc7e,#6ea23a);
  background: -moz-linear-gradient(#a5cc7e,#6ea23a);
  background: -ms-linear-gradient(#a5cc7e,#6ea23a);
  background: -o-linear-gradient(#a5cc7e,#6ea23a);
  background: linear-gradient(#a5cc7e,#6ea23a);
  -pie-background: linear-gradient(#a5cc7e,#6ea23a);
  behavior: url(/css/PIE.htc);
  text-decoration: none;
  text-shadow: none ! important;
  box-shadow: 0 0 0;
  position: relative;
  z-index: 1;
}
.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn-green:active,
.btn-green.active {
  background-color: #cccccc \9;
}
.btn-green:first-child {
  *margin-left: 0;
}
.btn-green:hover {
  text-decoration: none;
  color: #fff;
  background: #5a9c7b;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#5a9c7b),to(#005b2d));
  background: -webkit-linear-gradient(#5a9c7b,#005b2d);
  background: -moz-linear-gradient(#5a9c7b,#005b2d);
  background: -ms-linear-gradient(#5a9c7b,#005b2d);
  background: -o-linear-gradient(#5a9c7b,#005b2d);
  background: linear-gradient(#5a9c7b,#005b2d);
  -pie-background: linear-gradient(#5a9c7b,#005b2d);
  behavior: url(/css/PIE.htc);
}

/* login */
.login-div,
.ouath-div {
    background-color: #f8f8f8;
    padding: 30px;
    width: 555px;
    height: 286px;
}
.login-div .form-control {
    height: 36px;
}
.login-div .col-xs-3.control-label {
    padding-right: 12px;
}
.login-div hr {
    margin: 10px 0 30px 0;
}
.login-div .button-div {
    text-align: center;
}
.login-div button {
    width: 236px;
    height: 40px;
    font-size: 18px;
    text-align: center;
}
.ouath-div > div > span {
    width: 148px;
    height: 36px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 8px;
}
.ouath-div > div > span:hover {
    background-color: #e5e5e5;
}
.ouath-div > div > span > a {
    text-decoration: none;
    color: #333;
}
.ouath-div > div > span:nth-child(2) {
    margin: 0 22px;
}
.ouath-div div:nth-child(2) {
    margin-top: 20px;
}
.ouath-div span.logotext {
    display: inline-block;
    padding: 2px 0 0 9px;
}
/* usercreate */
.create-div {
    background-color: #f8f8f8;
    padding: 50px;
    width: 650px;
    margin: 10px auto;
}
.create-div .form-control {
    height: 36px;
}
.create-div .col-xs-3.control-label {
    padding-right: 12px;
}
.create-div label::before{
    color: red;
    line-height: initial;
    padding-right: 3px;
}
.create-div hr {
    margin: 30px 0 30px 0;
}
.create-div .button-div {
    text-align: center;
}
.create-div button {
    width: 236px;
    height: 40px;
    font-size: 18px;
    text-align: center;
}
.create-div .form-group > span {
    line-height: 22px;
}
.create-div .has-feedback .btn-group {
    width: 100%;
}
.create-div .has-feedback button {
    height: 36px;
    font-size: 13px;
    width: 100%;
}
.btn-default, .btn-default:hover {
    border-color: #e5e5e5;
}
.btn-group:after {
    content: "\f0d7";
    font-family: FontAwesome;
    line-height: 3;
    position: absolute;
    right: 11px;
    color: #999;
    z-index: 999;
}
.btn-group.open:after {
    content: "\f0d8";
    font-family: FontAwesome;
    line-height: 3;
    position: absolute;
    right: 11px;
    color: #999;
    z-index: 999;
}
.captchadiv .has-feedback {
    display: inline-block;
    width: 76%;
    float: left;
}
.captchadiv .input-group {
    width: 100%;
}
.captchadiv .has-feedback input.form-control {
    border-radius: 6px;
}
.captchadiv .input-group  img{
    float: right;
}
.create-div label {
    color: #333;
}
.create-div .form-group p {
    margin: 0;
    color: #666666;
}
.notlogged {
  background-image: -webkit-linear-gradient(top,#ddd,#999) !important;
}
.gigadb-arrow-button {
  font-size: 28px !important;
  line-height: 20px !important;
  width: 20px !important;
  height: 25px !important;
  border: 0px;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  text-decoration: none;
  background: #a5cc7e;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#a5cc7e),to(#6ea23a));
  background: -webkit-linear-gradient(#a5cc7e,#6ea23a);
  background: -moz-linear-gradient(#a5cc7e,#6ea23a);
  background: -ms-linear-gradient(#a5cc7e,#6ea23a);
  background: -o-linear-gradient(#a5cc7e,#6ea23a);
  background: linear-gradient(#a5cc7e,#6ea23a);
  -pie-background: linear-gradient(#a5cc7e,#6ea23a);
  behavior: url(/css/PIE.htc);
  padding-top: 4px !important;
  padding-bottom: 2px !important;
}
.gigadb-arrow-button:hover {
  background: #5a9c7b;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#5a9c7b),to(#005b2d));
  background: -webkit-linear-gradient(#5a9c7b,#005b2d);
  background: -moz-linear-gradient(#5a9c7b,#005b2d);
  background: -ms-linear-gradient(#5a9c7b,#005b2d);
  background: -o-linear-gradient(#5a9c7b,#005b2d);
  background: linear-gradient(#5a9c7b,#005b2d);
  -pie-background: linear-gradient(#5a9c7b,#005b2d);
}
.carousel-doi {
  left: 30px;
  border-radius: 23px;
  color: #ffffff;
  margin-top: -26px;
  position: absolute;
  top: 65%;
  font-weight: 100;
  text-align: center;
  font-size: 28px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border: 0px;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  text-decoration: none;
  background: #a5cc7e;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#a5cc7e),to(#6ea23a));
  background: -webkit-linear-gradient(#a5cc7e,#6ea23a);
  background: -moz-linear-gradient(#a5cc7e,#6ea23a);
  background: -ms-linear-gradient(#a5cc7e,#6ea23a);
  background: -o-linear-gradient(#a5cc7e,#6ea23a);
  background: linear-gradient(#a5cc7e,#6ea23a);
  -pie-background: linear-gradient(#a5cc7e,#6ea23a);
  behavior: url(/css/PIE.htc);
}
.form-search {
  margin: 0px auto 40px auto;
}
.form-search.well {
  text-align: center;
  background: #5a9c7b;
  background: -webkit-gradient(linear,0 0,0 bottom,from(#5a9c7b),to(#005b2d));
  background: -webkit-linear-gradient(#5a9c7b,#005b2d);
  background: -moz-linear-gradient(#5a9c7b,#005b2d);
  background: -ms-linear-gradient(#5a9c7b,#005b2d);
  background: -o-linear-gradient(#5a9c7b,#005b2d);
  background: linear-gradient(#5a9c7b,#005b2d);
  -pie-background: linear-gradient(#5a9c7b,#005b2d);
  behavior: url(/css/PIE.htc);
}
.form-search.well .btn-green {
  font-size: 1.2em;
  height: 28px;
  margin-left: 5px;
  margin-right: 5px;
}
.form-search.well input .btn {
  height: 28px;
}
.form-search.well a {
  height: 20px;
}
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
}

/*search-box搜索框：start*/
            .clearfix::before, .clearfix::after {
                content:"";
                display: table;
                clear: both;
            }

            .clearfix {
                zoom: 1;   /*兼容IE6/7*/
            }
            .search-box{
                box-sizing: border-box;
                width: 100%;
                height: 105px;
                background: #F3FAF6;
                margin-bottom: 20px;
                padding: 30px 195px;
                position: relative;
            }
            .search-box .search-bar{
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                /*border-radius: 5px;*/
            }
            .search-box .search-bar .search-input{
                box-sizing: border-box;
                float:left;
                width: 690px;
                height: 45px;
                border:0;
                outline: 0;
                border-radius: 5px 0 0 5px;
                padding: 10px 15px;
                font: 500 14px/25px "Arial","Microsoft YaHei";
                color: #222;
            }
            .search-box .search-bar .btn-search{
                float: left;
                width: 58px;
                height: 45px;
                text-align: center;
                background: #099242;
                border:0;
                outline: 0;
                border-radius: 0 5px 5px 0;
                font-size: 0;
                color:#fff;
                cursor:pointer;
            }
            .search-box .search-bar .btn-search span{
                font-size: 20px;
            }
            .search-box .btn-left,
            .search-box .btn-right {
                position: absolute;
                width: 18px;
                height: 18px;
                top: 50%;
                margin-top:-9px;
                font-size: 18px;
                color: #ccc;
				cursor:pointer;
            }
            .search-box .btn-left:hover,
            .search-box .btn-right:hover{
                color: #099242;
            }
            .search-box .btn-left{
                left: 150px;
            }
            .search-box .btn-right{
                right: 150px;
            }
            /*search-box搜索框：end*/

/*新增样式：start*/
.clearfix::before, .clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.clearfix {
    zoom: 1;   /*兼容IE6/7*/
}
.search-bar{
    box-sizing: border-box;
    float: right;
    width: 290px;
    height: 40px;
    padding: 8px 0;
}
.search-bar .search-input{
    box-sizing: border-box;
    float:left;
    width: 260px;
    height: 24px;
    background: #087A38;
    border:0;
    outline: 0;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    color: #fff;
}
.search-bar .search-input::-webkit-input-placeholder {
    color:#fff;
}
.search-bar .search-input:-ms-input-placeholder{
    color:#fff;
}
.search-bar .search-input:-moz-placeholder{
    color:#fff;
}
.search-bar .search-input::-moz-placeholder{
    color:#fff;
}
.search-bar .btn-search{
    float: left;
    width: 30px;
    height: 24px;
    background: #087A38;
    text-align: center;
    border:0;
    outline: 0;
    border-radius: 0 5px 5px 0;
    font-size: 0;
    color:#fff;
}
.search-bar .btn-search span{
    font-size: 12px;
}
.share-zone{
    box-sizing: border-box;
    float: right;
    width: 200px;
    height: 40px;
    list-style:none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
.share-zone li{
    box-sizing: border-box;
    float:left;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 9px 0;
}
.share-zone li a{
    box-sizing: border-box;
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height:20px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.share-zone li:hover a{
    border-color: #fff;
}
.main-nav-bar{
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    margin: 33px 0;
    /*background: #099242;*/
    /*color: #fff;*/
}
.main-nav-bar li{
    height: 34px;
    /*margin-left: 20px;*/
}
.main-nav-bar li a{
    display: inline-block;
    height: 34px;
    color: #666;
    text-decoration: none !important;
}
.main-nav-bar li .dropdown-menu{
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #E5E5E5;
    border-top-color: #099242;
    margin-top: 32px;
    padding: 15px;
}
.main-nav-bar li .dropdown-menu li{
    height: 20px;
}
.main-nav-bar li .dropdown-menu li+li{
    margin-top: 10px;
}
.main-nav-bar li .dropdown-menu li a{
    display: block;
    height: 20px;
    padding: 0px 5px;
    font-size:12px;
    line-height: 20px;
    color: #666;
}
.main-nav-bar li .dropdown-menu li:hover,
.main-nav-bar li .dropdown-menu li:active,
.main-nav-bar li .dropdown-menu li:focus{
    background: transparent;
}
.main-nav-bar li .dropdown-menu li:hover a,
.main-nav-bar li .dropdown-menu li:active a,
.main-nav-bar li .dropdown-menu li:focus a{
    background: transparent;
    color: #099242;
}
.nav-pills>li+li{
    margin-left:9px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #099242;
}
body{
    position:relative;
}
.fixed-btn-left, .fixed-btn-right{
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: #B9DFC9;
    text-align: center;
    position: fixed;
    top: 50%;
    cursor: pointer;
}
.fixed-btn-left{
    left: 50%;
    margin-left: -630px;
}
.fixed-btn-right{
    right: 50%;
    margin-right: -630px;
}
.fixed-btn-left:hover,
.fixed-btn-right:hover{
    color: #099242;
}


#dataset_slider{
	h2{
		display: inline-block;
		margin-right: 20px;
	}
	.carousel{ margin-bottom: 0;}
	.carousel-inner{
		width:auto;
	}
	.data-block{
		width: 172px;
		float: left;
	    margin: 10px 0 10px 20px;
		img{
			width:auto;
			margin: 0 auto 10px auto;
			display: block;
			max-width:172px;
			min-height:172px;
			height:172;
		}
	}
	.carousel-control.right{
		right:0px;
		top:-18px;
	}
	.carousel-control.left{
		right:25px;
		top:-18px;
		left: auto;
	}
        .carousel-control.right, .carousel-control.left {
            font-size: 28px !important;
            line-height: 18px;
        }
}
.left-border-title-lg i{ font-size:15px;}

.visually-hidden {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

