<h2>Back to <a href="http://gigadb.org" target="_blank"><em>Giga</em>DB</a></h2>
<h4><a href="#0.1_intro">Introduction</a></h4>
<h4><a href="#0.1_gigasearch"><em>Giga</em>DB search</a></h4>
<ul>
<li><a href="#0.1_basic">Basic search</a></li>



<li><a href="#0.1_results">Search results</a></li>
<li><a href="#0.1_filtering">Filtering results</a></li>
</ul>
<h4><a href="#0.1_submission">Submission guidelines</a></h4>
<h4><a href="#0.1_vocabulary">Controlled vocabulary</a></h4>
<ul>
<li><a href="#0.1_datasettype">Dataset types</a></li>
<li><a href="#0.1_fileformat">File formats</a></li>
<li><a href="#0.1_filetype">File types</a></li>
<li><a href="#0.1_upload">Upload status</a></li>
<li><a href="#0.1_relation">DOI relationship</a></li>
<li><a href="#0.1_MissingValue">Missing value reporting</a></li>
</ul>
<h4><a href="#0.1_API">Application Programming Interface</a></h4>
<ul>
<li><a href="#0.1_Availability">Availability</a></li>
<li><a href="#0.1_Comments">Comments and Bug reporting</a></li>
<li><a href="#0.1_Summary">Summary</a></li>
<li><a href="#0.1_Terminology">Terminology</a></li>
<li><a href="#0.1_Examples">Examples</a></li>
<li><a href="#0.1_Curl">Command line usage</a></li>
</ul>
<hr>

<h2><a name="0.1_intro">Introduction</a></h2>
	<p>The <a href="http://gigadb.org/" target="_blank"><em>Giga</em>DB</a> website allows any user to browse, search, view datasets and access data files. If you want to submit a dataset, save searches or be alerted of new content of interest we request that you <a href="http://gigadb.org/user/create" target="_blank">create an account</a>.</p>
	<p>A &#39;Latest news&#39; section will be visible to announce any updates or new features to the database and the RSS feed automatically announces each new dataset release.</p>
	<p>The <a href="http://gigadb.org/" target="_blank"><em>Giga</em>DB</a> homepage allows you to browse datasets by type eg Genomic, Metagenomic, Transcriptomic. Clicking on the DOI (digital object identifier) or image will take you directly to the webpage for the dataset of interest.</p>
	<p>Alternatively you can use the <a href="http://gigadb.org/site/help#basic" target="_blank">search</a> functions to find datasets, samples or files of interest.</p>
<br>

<h2><a name="0.1_gigasearch">GigaDB search</a></h2>
<h3><a name="0.1_basic">Search Operation</a></h3>
<p> To search across all Dataset, Sample and File records in GigaDB, simply enter a search term in the search bar found at the top of all GigaDB pages. </p>
<p>The search is case insensitive which means both uppercase and lowercase keywords will have the same result. </p>


<h3><a name="0.1_results">Search results</a></h3>
The search results are grouped by GigaDB Datasets (G), Samples (S) and Files (F).
	<p style="margin-top:10px"><img src="/images/icons/g-new-icon.png" style="max-width:30px"> For each dataset result, author names and DOI are displayed. Hovering over dataset name provides the description of dataset. Dataset and sample names are linked to the specific DOI page for those data, as well as file links are provided to download.</p>
	<p style="margin-top:10px"><img src="/images/icons/s-new-icon.png" style="max-width:30px"> For each sample result, the sample name, species name and species ID are displayed with links to the NCBI taxonomy page for the species and to the GigaDB dataset page.</p>
	<p style="margin-top:10px"><img src="/images/icons/f-new-icon.png" style="max-width:30px"> For each file result, the file name, file type and file size are displayed with a direct link to the FTP server location of that file.</p>

	<p style="margin-top:10px">Only those objects that have direct matches are displayed in the search results, i.e. the only Files to be displayed in the search results will be those with matches to the search term, all other files within the same dataset will NOT be displayed.</p>

	<p style="margin-top:10px">For example, searching for the term “Potato” will return the dataset with the title “Genomic data from the potato” which contains 17 files, however, the search results table will only display 3 of those 17 files because only 3 contain the search term “potato”. To find all data associated with a dataset you must follow the link to the dataset page.</p>

<br>

<h3><a name="0.1_filtering">Filtering results</a></h3>
	<p>On the left of the search results you have the option to further refine the results by using the filters. By default all filters are disabled, allowing you to see all search results for your keyword. If you want to hide some results based on some criteria, choose the filter for your criteria, and select the options that match what you want to see. </p>
	<p>TFilter options for Datasets:</p>

<ul>
<li>Dataset Type (<a href="http://gigadb.org/site/help#datasettype" target="_blank">Dataset Type</a> controlled vocabulary eg &#39;Genomic&#39;, &#39;Proteomic&#39;)</li>
<li>Project (eg &#39;Genome 10K&#39;, &#39;1000 Genomes&#39;</li>
<li>External Link Types (Controlled vocabulary: &#39;Genome Browser&#39; or &#39;Additional Data&#39;)</li>
<li>Publication Date (From and To. Format: dd-mm-yyyy)</li>
</ul>

	<p>Filter options for Samples:</p>
<ul>
<li>Common Name (Internally controlled eg &#39;Human&#39;, &#39;Mouse&#39;)</li>
</ul>

	<p>Filter options for Files:</p>
<ul>

<li>File Type (<a href="http://gigadb.org/site/help#filetype" target="_blank">File Type</a> controlled vocabulary eg &#39;Alignments&#39;, &#39;Genome sequence&#39;, &#39;SNPs&#39;)</li>
<li>File Format (<a href="http://gigadb.org/site/help#fileformat" target="_blank">File format</a> controlled vocabulary eg &#39;BIGWIG&#39;, &#39;FASTQ&#39;, &#39;VCF&#39;)</li>
<li>File Size (From and To: Format KB, MB, GB, TB)</li>
</ul>

	<p>Click the &#39;Apply Filters&#39; button to see your refined results table.</p>
<br>


<h2><a name="0.1_submission">Submission guidelines</a></h2>
	<p><a href="http://gigadb.org/" target="_blank"><em>Giga</em>DB</a> is an open-access database. As such, all data submitted to <em>Giga</em>DB must be fully consented for public release (for more information about our data policies, please see our <a href="http://gigadb.org/site/term/" target="_blank">Terms of use page</a>).</p>
	<p>All sequence, assembly, variation, and microarray data must be deposited in a public database at <a href="http://www.ncbi.nlm.nih.gov/" target="_blank">NCBI</a>, <a href="http://www.ebi.ac.uk/" target="_blank">EBI</a>, or <a href="http://www.ddbj.nig.ac.jp/" target="_blank">DDBJ</a> before you submit them to <a href="http://gigadb.org/" target="_blank"><em>Giga</em>DB</a>. In the cases where you would like <em>Giga</em>DB to host files associated with genomic data not fully consented for public release, you must first submit the non-public data to <a href="http://www.ncbi.nlm.nih.gov/gap/" target="_blank">dbGaP</a> or <a href="http://www.ebi.ac.uk/ega/" target="_blank">EGA</a>.</p>
	<p><strong>Step 1</strong> - <a href="http://gigadb.org/user/create" target="_blank">Create an account</a> or <a href="http://gigadb.org/site/login" target="_blank">log in</a> to <a href="http://gigadb.org/" target="_blank"><em>Giga</em>DB</a></p>
	<p><strong>Step 2</strong> - Download and complete the <a href="http://gigadb.org/files/GigaDBUploadForm.xls" target="_blank">Excel template file</a>. Completed example files for the E. coli (<a href="http://gigadb.org/dataset/100001" target="_blank">10.5524/100001</a>) and Sorghum (<a href="http://gigadb.org/dataset/100012" target="_blank">10.5524/100012</a>) datasets are available.</p>

	<p>The template file contains:</p>
<ul>
<li>3 tabs which must all be completed [Study, Samples, Files]</li>
<li>4 informational tabs [Samples (info), Files (info), CV, Links]</li>
</ul>
	<p>Mandatory fields are highlighted in yellow.</p>

<h5>Study</h5>
	<p>Required information includes submitter name, email and affiliation, upload status [can we publish this dataset immediately after review (Publish) or should it be held until publication (HUP)], author list, <a href="http://gigadb.org/site/help#datasettype" target="_blank">dataset type(s)</a> (selected from a controlled vocabulary list), dataset title and description, estimated total size of the files that will be submitted and dataset image information.</p>
	<p>Optional information includes links to additional resources and related manuscripts, accessions for data in other databases (prefixes are found in the Links tab), and <a href="http://gigadb.org/site/help#relation" target="_blank">relationship</a> (if any) to a previously published <em>Giga</em>DB dataset (selected from a controlled vocabulary list).</p>

<h5>Samples</h5>
	<p>Required information includes a sample ID or name (please use an <a href="http://www.ncbi.nlm.nih.gov/biosample" target="_blank">NCBI BioSample ID</a> when possible), species <a href="http://www.ncbi.nlm.nih.gov/Taxonomy" target="_blank">NCBI taxonomy ID</a>, and species common name.</p>
	<p>Optional information includes sample attributes (these are automatically populated in <em>Giga</em>DB if an <a href="http://www.ncbi.nlm.nih.gov/biosample" target="_blank">NCBI BioSample ID</a> is provided).</p>

<h5>Files</h5>
	<p>Required information includes a file name or path relative to your home directory and <a href="http://gigadb.org/site/help#filetype" target="_blank">file type</a> (selected from a controlled vocabulary list). A readme file must be provided.</p>
	<p>Optional information includes a file description and a sample ID or name.</p>
	<p><strong>Step 3</strong> - confirm you have read our <a href="http://gigadb.org/site/term/" target="_blank">Terms of use</a> page and upload the completed Excel template file.</p>
	<p>You can expect a response from the <a href="http://gigadb.org/" target="_blank"><em>Giga</em>DB</a> team within 5 days to verify the information in your submission and to arrange upload of your files to our FTP site.</p>
	<p>If you have any questions, please contact us at <a href="mailto:database@gigasciencejournal.com" target="_blank">database@gigasciencejournal.<wbr>com</a>.</p>
<br>

<h2><a name="0.1_vocabulary">Controlled vocabulary</a></h2>
<h3><a name="0.1_datasettype">Dataset types</a></h3>
	<p><strong>Genomic</strong> - includes all genetic and genomic data eg sequence, assemblies, alignments, genotypes, variation and annotation.<br>Minimal requirements: DNA sequence data eg next-gen raw reads (fastq files) OR assembled DNA sequences (fasta files)</p>
	<p><strong>Epigenomic</strong> - includes methylation and histone modification data.<br>Minimal requirements: Details on methylation sites/status eg qmap files OR details on histone modification sites/status.</p>
	<p><strong>Metagenomic</strong> - includes all genetic and genomic data eg sequence, assemblies, alignments, genotypes, variation and annotation from environmental samples.<br>Minimal requirements: Environmental DNA sequence data eg next-gen raw reads (fastq files) OR assembled DNA sequences (fasta files).</p>
	<p><strong>Proteomic</strong> - includes all mass spec data.<br>Minimal requirements: Peptide/protein data eg mass spec.</p>
	<p><strong>Transcriptomic</strong> - includes all data relating to mRNA.<br>Minimal requirements: RNA sequence data eg next-gen raw reads (fastq files) OR transcript statistics eg RNA coverage/depth.</p>
	<p>Additional dataset types can be added, upon review, as new submissions are received.</p>
<br>

<h3><a name="0.1_filetype">File types</a></h3>
<p>File types and examples of associated file extensions:</p>
<p><strong>Alignments:</strong> .bam, .chain, .maf, .net, .sam</p>
<p><strong>Allele frequencies:</strong> .frq</p>
<p><strong>Annotation:</strong> .gff, .ipr, .kegg, .wego</p>
<p><strong>Coding sequence:</strong> .cds, .fa</p>
<p><strong>InDels:</strong> .gff, .txt, .vcf</p>
<p><strong>ISA-Tab:</strong> see <a href="http://isatab.sourceforge.net/format.html" target="_blank">ISA tools</a></p>
<p><strong>Genome assembly:</strong> .agp, .contig, .depth, .fa, .length, .scafseq</p>
<p><strong>Genome sequence:</strong> .fastq, .fq</p>
<p><strong>Haplotypes:</strong> .haplotype</p>
<p><strong>Methylome data:</strong> .fa, .qmap, .rpm, .txt</p>
<p><strong>Protein sequence:</strong> .fa, .pep</p>
<p><strong>Readme:</strong> .pdf, .txt</p>
<p><strong>SNPs:</strong> .annotation, .gff, .txt, .vcf</p>
<p><strong>SVs:</strong> .gff, .txt, .vcf</p>
<p><strong>Transcriptome data:</strong> .depth, .rpkm, .wig</p>
<p><strong>Other:</strong> .xls, .pdf, .txt</p>
<p>Additional file types can be added, upon review, as new submissions are received.</p>
<br>

<h3><a name="0.1_fileformat">File formats</a></h3>
<ul>
<li><a href="http://gigadb.org/site/help#agp" target="_blank">AGP</a></li>
<li><a href="http://gigadb.org/site/help#bam" target="_blank">BAM</a></li>
<li><a href="http://gigadb.org/site/help#bigwig" target="_blank">BIGWIG</a></li>
<li><a href="http://gigadb.org/site/help#chain" target="_blank">CHAIN</a></li>
<li><a href="http://gigadb.org/site/help#contig" target="_blank">CONTIG</a></li>
<li><a href="http://gigadb.org/site/help#excel" target="_blank">EXCEL</a></li>
<li><a href="http://gigadb.org/site/help#fasta" target="_blank">FASTA</a></li>
<li><a href="http://gigadb.org/site/help#fastq" target="_blank">FASTQ</a></li>
<li><a href="http://gigadb.org/site/help#gff" target="_blank">GFF</a></li>
<li><a href="http://gigadb.org/site/help#ipr" target="_blank">IPR</a></li>
<li><a href="http://gigadb.org/site/help#kegg" target="_blank">KEGG</a></li>
<li><a href="http://gigadb.org/site/help#maf" target="_blank">MAF</a></li>
<li><a href="http://gigadb.org/site/help#net" target="_blank">NET</a></li>
<li><a href="http://gigadb.org/site/help#pdf" target="_blank">PDF</a></li>
<li><a href="http://gigadb.org/site/help#png" target="_blank">PNG</a></li>
<li><a href="http://gigadb.org/site/help#qmap" target="_blank">QMAP</a></li>
<li><a href="http://gigadb.org/site/help#qual" target="_blank">QUAL</a></li>
<li><a href="http://gigadb.org/site/help#rpkm" target="_blank">RPKM</a></li>
<li><a href="http://gigadb.org/site/help#sam" target="_blank">SAM</a></li>
<li><a href="http://gigadb.org/site/help#tar" target="_blank">TAR</a></li>
<li><a href="http://gigadb.org/site/help#text" target="_blank">TEXT</a></li>
<li><a href="http://gigadb.org/site/help#vcf" target="_blank">VCF</a></li>
<li><a href="http://gigadb.org/site/help#wego" target="_blank">WEGO</a></li>
<li><a href="http://gigadb.org/site/help#wig" target="_blank">WIG</a></li>
<li><a href="http://gigadb.org/site/help#unknown" target="_blank">UNKNOWN</a></li>
<li><a href="http://gigadb.org/site/help#xml" target="_blank">XML</a></li>
</ul>

<a name="0.1_agp"></a>
<p><strong>AGP</strong> (.agp) - the Accessioned Golden Path (AGP) file describes the assembly of a larger sequence object from smaller objects:</p>
<table>
<tbody><tr>
<td>chr1</td>
<td>1</td>
<td>1972671</td>
<td>0</td>
<td>W</td>
<td>scaffold43</td>
<td>1</td>
<td>1972671</td>
<td>m</td>
</tr>
<tr>
<td>chr1</td>
<td>1972672</td>
<td>3061819</td>
<td>1</td>
<td>W</td>
<td>scaffold8</td>
<td>1</td>
<td>1089148</td>
<td>p</td>
</tr>
<tr>
<td>chr1</td>
<td>3061820</td>
<td>3181505</td>
<td>2</td>
<td>W</td>
<td>scaffold548</td>
<td>1</td>
<td>119686</td>
<td>m</td>
</tr>
<tr>
<td>chr1</td>
<td>3181506</td>
<td>4176151</td>
<td>3</td>
<td>W</td>
<td>scaffold313</td>
<td>1</td>
<td>994646</td>
<td>m</td>
</tr>
</tbody></table>

<p>The large object can be a contig, a scaffold (supercontig), or a chromosome.
<br>See <a href="http://www.ncbi.nlm.nih.gov/projects/genome/assembly/agp/AGP_Specification.shtml" target="_blank">AGP Specification v2.0</a></p>

<a name="0.1_bam"></a>
	<p><strong>BAM</strong> (.bam) - the <a href="http://genome.sph.umich.edu/wiki/BAM" target="_blank">Binary Alignment/Map (BAM) format</a> is the compressed binary version of the Sequence Alignment/Map (SAM) format, a compact and index-able representation of nucleotide sequence alignments.</p>

<a name="0.1_bigwig"></a>
	<p><strong>BIGWIG</strong> (.bw) - the <a href="http://genome.ucsc.edu/goldenPath/help/bigWig.html" target="_blank">BIGWIG format</a> is for storing dense, continuous data (such as GC percent, probability scores, and transcriptome data) that will be displayed in the UCSC Genome Browser as a graph. BIGWIG files are created initially from wiggle (WIG) type files, using the program wigToBigWig.</p>

<a name="0.1_chain"></a>
	<p><strong>CHAIN</strong> (.chain) - the  <a href="http://genome.ucsc.edu/goldenPath/help/chain.html" target="_blank">CHAIN format</a> describes a pairwise alignment that allow gaps in both sequences simultaneously and is used by the UCSC Genome Browser.</p>

<a name="0.1_contig"></a>
	<p><strong>CONTIG</strong> (.contig) - the <a href="http://soap.genomics.org.cn/soapdenovo.html" target="_blank">CONTIG format</a> is a direct output from the SOAPdenovo alignment program:</p>
<table>
<tbody><tr><td>&gt;1 length 32 cvg_0.0_tip_0</td></tr>
<tr><td>GAGAACGGCGAAGCCTGCTCGGGCCCGTTA<wbr>TA</td></tr>
<tr><td>&gt;3 length 32 cvg_23.0_tip_0</td></tr>
<tr><td>TAGCAGCGATTTGATCAAACTCAATCTTAC<wbr>CG</td></tr>
<tr><td>&gt;5 length 32 cvg_40.0_tip_0</td></tr>
<tr><td>GGTAAGATTGAGTTTGATCAAATCGCTGCT<wbr>AT</td></tr>
</tbody></table>

<a name="0.1_excel"></a>
	<p><strong>EXCEL</strong> (.xls, .xlsx) - Microsoft office spreadsheet files</p>

<a name="0.1_fasta"></a>
	<p><strong>FASTA</strong> (.fasta, .fa, .seq, .cds, .pep, .scafseq [SOAPdenovo output file - sequence of each scaffold]) -  <a href="http://www.ebi.ac.uk/help/formats.html#fasta" target="_blank">FASTA</a> is a text-based format for representing either nucleotide sequences or peptide sequences.</p>

<a name="0.1_fastq"></a>
	<p><strong>FASTQ</strong> (.fq, .fastq) - the <a href="http://maq.sourceforge.net/fastq.shtml" target="_blank">FASTQ format</a> stores sequences  (usually nucleotide sequence) and Phred qualities in a single file.</p>

<a name="0.1_gff"></a>
	<p><strong>GFF</strong> (.gff) - The <a href="http://www.sanger.ac.uk/resources/software/gff/" target="_blank">General Feature Format (GFF)</a> is used for describing genes and other features of DNA, RNA and protein sequences.</p>

<a name="0.1_ipr"></a>
	<p><strong>IPR</strong> (.ipr) - the <a href="http://wego.genomics.org.cn/cgi-bin/wego/Documents.pl" target="_blank">Web Gene Ontology (WEGO) Annotation format</a> consists of the protein ID, followed by column(s) that are the IPR (<a href="http://www.ebi.ac.uk/interpro/" target="_blank">InterPro</a>) ID(s):</p>
<table>
<tbody><tr>
<td>CR_ENSP00000334840</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>CR_ENSMMUP00000018123</td>
<td>IPR000504</td>
<td>IPR003954</td>
<td></td>
<td></td>
</tr>
<tr>
<td>CR_ENSP00000333725</td>
<td>IPR001781</td>
<td>IPR015880</td>
<td>IPR007087</td>
<td>IPR001909</td>
</tr>
</tbody></table>

	<p>See <a href="http://www.ncbi.nlm.nih.gov/pubmed/16845012?dopt=Abstract" target="_blank">WEGO: a web tool for plotting GO annotations</a></p>

<a name="0.1_kegg"></a>
	<p><strong>KEGG</strong> (.kegg) - the <a href="http://wego.genomics.org.cn/cgi-bin/wego/Documents.pl" target="_blank">Web Gene Ontology (WEGO) Annotation format</a> consists of the protein ID, followed by column(s) that are the <a href="http://www.genome.jp/kegg/" target="_blank">KEGG</a> (Kyoto Encyclopedia of Genes and Genomes) ID(s):</p>
<table>
<tbody><tr>
<td>CR_ENSMMUP00000031408</td>
<td>ko03010</td>
<td></td>
<td></td>
</tr>
<tr>
<td>CR_ENSP00000364815</td>
<td>ko00970</td>
<td>ko00290</td>
<td></td>
</tr>
<tr>
<td>CR_ENSP00000414605</td>
<td>ko05146</td>
<td>ko04510</td>
<td>ko04512</td>
</tr>
</tbody></table>
	<p>See <a href="http://www.ncbi.nlm.nih.gov/pubmed/16845012?dopt=Abstract" target="_blank">WEGO: a web tool for plotting GO annotations</a></p>

<a name="0.1_maf"></a>
	<p><strong>MAF</strong> (.maf) - the <a href="http://genome.ucsc.edu/FAQ/FAQformat.html#format5" target="_blank">Multiple Alignment Format (MAF)</a> stores a series of multiple alignments at the DNA level between entire genomes.</p>

<a name="0.1_net"></a>
	<p><strong>NET</strong> (.net) - the <a href="http://genome.ucsc.edu/goldenPath/help/net.html" target="_blank">NET file format</a> is used to describe the axtNet data that underlie the net alignment annotations in the UCSC Genome Browser.</p>

<a name="0.1_pdf"></a>
	<p><strong>PDF</strong> (.pdf) - portable document format</p>

<a name="0.1_png"></a>
	<p><strong>PNG</strong> (.png) - portable network graphics</p>

<a name="0.1_qmap"></a>
	<p><strong>QMAP</strong> (.qmap) - <a href="http://yh.genomics.org.cn/Format%20of%20qmap%20file.txt" target="_blank">QMAP</a> files are generated for methylation data from an internal <a href="http://www.genomics.cn/en" target="_blank">BGI</a> pipeline.</p>

<a name="0.1_qual"></a>
	<p><strong>QUAL</strong> (.qual) - the <a href="http://www.broadinstitute.org/crd/wiki/index.php/Qual" target="_blank">QUAL file format</a> represents base quality score file for NextGen data (similar in format to fasta).</p>

<a name="0.1_rpkm"></a>
	<p><strong>RPKM</strong> (.rpkm) - Gene expression levels are calculated by <a href="http://sourceforge.net/apps/mediawiki/seqgene/index.php?title=SeqGene#.rpkm:_expression_estimates_generated_by_rpkm.py" target="_blank">Reads Per Kilobase per Million (RPKM) mapped reads</a> eg 1kb transcript with 1000 alignments in a sample of 10 million reads (out of which 8 million reads can be mapped) will have RPKM = 1000/(1 * 8) = 125:</p>
<table>
<tbody><tr>
<td>ENSP00000379387</td>
<td>15.5651433366423</td>
<td>6002951</td>
<td>289</td>
<td>3093</td>
</tr>
<tr>
<td>ENSP00000349977</td>
<td>24.7483107230444</td>
<td>6002951</td>
<td>398</td>
<td>2679</td>
</tr>
<tr>
<td>ENSP00000368887</td>
<td>24.6477413647837</td>
<td>6002951</td>
<td>174</td>
<td>1176</td>
</tr>
</tbody></table>

<a name="0.1_sam"></a>
	<p><strong>SAM</strong> (.sam) - the <a href="http://genome.sph.umich.edu/wiki/SAM" target="_blank">Sequence Alignment/Map (SAM) format</a> is a TAB-delimited text format consisting of a header section, which is optional, and an alignment section. Most often it is generated as a human readable version of its sister <a href="http://gigadb.org/site/help#bam" target="_blank">BAM</a> format, which stores the same data in a compressed, indexed, binary form. Currently, most SAM format data is output from aligners that read <a href="http://gigadb.org/site/help#fastq" target="_blank">FASTQ</a> files and assign the sequences to a position with respect to a known reference genome. In the future, SAM will also be used to archive unaligned sequence data generated directly from sequencing machines.
<br>See <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2723002/" target="_blank">The Sequence Alignment/Map format and SAMtools</a></p>

<a name="0.1_tar"></a>
	<p><strong>TAR</strong> (.tar) - an archive containing other files</p>

<a name="0.1_text"></a>
	<p><strong>TEXT</strong> (.doc, .readme, .text, .txt) - a text file</p>

<a name="0.1_vcf"></a>
	<p><strong>VCF</strong> (.vcf) -  the <a href="http://www.1000genomes.org/wiki/Analysis/Variant%20Call%20Format/vcf-variant-call-format-version-40" target="_blank">Variant Call Format (VCF)</a> is a text file format for representing eg SNPs, InDels, CNVs, SVs, microsatellites, genotypes.</p>

<a name="0.1_wego"></a>
	<p><strong>WEGO</strong> (.wego) - the <a href="http://wego.genomics.org.cn/cgi-bin/wego/Documents.pl" target="_blank">Web Gene Ontology (WEGO) Annotation format</a> consists of the protein ID, followed by column(s) that are the <a href="http://www.geneontology.org/" target="_blank">GO</a> ID(s):</p>
<table>
<tbody><tr>
<td>Bmb015379_2_IPR001092</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Bmb003749_1_IPR006329</td>
<td>GO:0009168</td>
<td>GO:0003876</td>
<td></td>
</tr>
<tr>
<td>Bmb006173_1_IPR000909</td>
<td>GO:0007165</td>
<td>GO:0004629</td>
<td>GO:0007242</td>
</tr>
</tbody></table>
	<p>See <a href="http://www.ncbi.nlm.nih.gov/pubmed/16845012?dopt=Abstract" target="_blank">WEGO: a web tool for plotting GO annotations</a></p>

<a name="0.1_wig"></a>
	<p><strong>WIG</strong> (.wig) - the output file from <a href="http://tophat.cbcb.umd.edu/" target="_blank">TopHat</a> is a <a href="http://genome.ucsc.edu/goldenPath/help/wiggle.html" target="_blank">UCSC wigglegram</a> of alignment coverage.</p>

<a name="0.1_unknown"></a>
	<p><strong>UNKNOWN</strong> - any file format not in this list</p>

<a name="0.1_xml"></a>
	<p><strong>XML</strong> (.xml) - <a href="http://www.w3schools.com/xml/" target="_blank">eXtensible Markup Language</a></p>
<br>

<h3><a name="0.1_upload">Upload status</a></h3>
<p><strong>Publish: </strong>this dataset is fully consented for immediate release upon <em>Giga</em>DB approval </p>
<p><strong>HUP: </strong>this dataset should be Held Until Publication (HUP)</p>
<br>

<h3><a name="0.1_relation">DOI relationship</a></h3>
<p>The DOI relationship vocabulary is taken from the <a href="http://schema.datacite.org/meta/kernel-2.2/doc/DataCite-MetadataKernel_v2.2.pdf" target="_blank">DataCite</a> &#39;relationType&#39; schema property (ID=12.2).</p>
<p>Definition: Description of the relationship of the resource being registered (A) and the related resource (B).</p>
<p><strong>IsSupplementTo:</strong> indicates that A is a supplement to B</p>
<p><strong>IsSupplementedBy:</strong> indicates that B is a supplement to A</p>
<p><strong>IsNewVersionOf:</strong> indicates A is a new edition of B, where the new edition has been modified or updated</p>
<p><strong>IsPreviousVersionOf:</strong> indicates A is a previous edition of B</p>
<p><strong>IsPartOf:</strong> indicates A is a portion of B; may be used for elements of a series</p>
<p><strong>HasPart:</strong> indicates A includes the part B</p>
<p><strong>References:</strong> indicates B is used as a source of information for A</p>
<p><strong>IsReferencedBy:</strong> indicates A is used as a source of information by B</p>

<h3><a name="0.1_MissingValue">Missing Value reporting</a></h3>
<p>For attributes (sample, dataset or files) that have some or all values missing please use the following controlled value terms to describe the exact reason for the missing value.</p>
<p><strong>not applicable:</strong> information is inappropriate to report, often this attribute can be removed entirely.
<p><strong>restricted access:</strong> information exists but cannot be released openly because of privacy concerns
<p><strong>not provided:</strong> information is not available at the time of submission, a value may be provided at the later stage
<p><strong>not collected:</strong> information was not collected and will therefore never be available
<br>

<h2><a name="0.1_API">Application Programming Interface</a></h2>
<h3><a name="0.1_Availability">Availability</a></h3>
<div>The current API version is available on our main production database. This version will be periodically updated with new additional functionality, we will whenever possible maintain backwards compatability, but occassionally this may not be possible, for this reason we recomend regularly checking and updating you usage of our API. </div>
<div>The basic functionality of the API is to retrieve dataset metadata held in GigaDB. The actual data files will still need to be pulled by FTP, but you can gather the exact FTP locations from the metadata using the API, then use that to pull only the files you actually need/want.</div>
<div><br>
</div>
<div>Search function is based on the web-search function and will therefore give the same results.</div>
<div><br>
</div>
<h3><a name="0.1_Comments">Comments and Bug reporting</a></h3>
<div>The GigaScience github issue for the API works is here:</div>
<div><a href="https://github.com/gigascience/gigadb-website/issues/27" target="_blank">https://github.com/<wbr>gigascience/gigadb-website/<wbr>issues/27</a></div>
<div><span style="background-color:transparent;font-size:10pt">Please add feedback / comments/ questions to that issue.</span></div>
<h3><a name="0.1_Summary">Summary</a></h3>
<div>It is currently possible to search &quot;all&quot; fields, or to specify one of a select few fields to search.</div><br>
<div>It is possible to have results return all metadata for each dataset with &quot;hits&quot; to the search term, or to specify a particular portion of the metadata, these portions are currently &quot;dataset&quot;, &quot;sample&quot; and &quot;file&quot;, which is in alignment with the same functionality on the web-search tool.<span style="background-color:transparent;font-size:10pt">The default is to return results as </span><a href="https://sites.google.com/a/gigasciencejournal.com/gigascience/public-pages/xml-schema" style="background-color:transparent;font-size:10pt" target="_blank">GigaDB v3 XML</a></div>
<br>
<div><span style="background-color:transparent;font-size:10pt">It is planned that we will have the option to specify the format to be GigaDBv3-JSON or ISA2.0-JSON in the future, but that has not been implemented yet.</span></div>
<br>
<h3><a name="0.1_Terminology">Terminology</a></h3>
<div>To specify exact fields to return data from, use terms; dataset?=, sample?=, file?=, (or experiment?=*)</div>
<div>* - experiment will be implemented in the future</div><br>
<div>To search for datasets without the ID&#39;s, use the term search?keyword=</div><br>
<div>To search by specific attributes use search?&lt;attribute_name&gt;=</div>
<div>Available <strong>attribute_name</strong> to search include:</div>
<div><strong>taxno</strong> = Taxonomic ID (NCBI)</div>
<div><strong>taxname</strong> = species name (nb must exact spelling, no synonyms searched)</div>
<div><strong>author</strong> = restricts search to the author table</div>
<div><strong>datasettype</strong> = restricts search to the types of datasets, e.g. metagenomic, genomic, transcriptomic etc..</div>
<div><strong>manuscript</strong> = restricts search to the manuscript ID associated with GigaDB dataset(s) e.g. search?manuscript=10.1186/<wbr>2047-217X-3-21</div>
<div><strong>project</strong> = restricts search to the project name, e.g. Genome 10K</div>
<div>eg.<br>.../search?taxno=9606</div><br>
<div>To specify results to be returned are ONLY a particular level of data, add the phrase <strong>&amp;results=dataset</strong> ,or file or sample: </div>e.g.<br>
<div><a href="/api/search?project=Genome%2010K&amp;result=sample" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>project=Genome%2010K&amp;result=<wbr>sample</a></div>
<div>NB - the search still looks everywhere, but the results returned are only those samples that are in datasets that are found by the search.</div>
<div><strong>Default results are &quot;dataset&quot; only.</strong></div><br>
<h3><a name="0.1_Examples">Examples</a></h3><br>
<div>1. retrieve known datasets by doi</div>
<div><a href="/api/dataset?doi=100051" target="_blank">http://gigadb.gigasciencejournal.com/api/dataset?<wbr>doi=100051</a></div><br>
<div>2. retrieve samples from a known DOI</div>
<div><a href="/api/sample?doi=100051" target="_blank">http://gigadb.gigasciencejournal.com/api/sample?<wbr>doi=100051</a></div><br>
<div>3. retrieve file information from a known DOI</div>
<div><a href="/api/file?doi=100051" target="_blank">http://gigadb.gigasciencejournal.com/api/file?<wbr>doi=100051</a></div><br>
<div>4. Search all GigaDB by keyword, return only the top level dataset metadata</div>
<div><a href="/api/search?keyword=chimp&amp;result=dataset" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>keyword=chimp&amp;result=dataset</a></div><br>
<div>5.Search all GigaDB by keyword, return only the sample level metadata</div>
<div><a href="/api/search?keyword=chimp&amp;result=sample" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>keyword=chimp&amp;result=sample</a></div><br>
<div>6.Search all GigaDB by keyword, return only the file level metadata</div>
<div><a href="/api/search?keyword=chimp&amp;result=file" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>keyword=chimp&amp;result=file</a></div><br>
<div>7. refine search to just the title of the dataset</div>
<div><a href="/api/search?keyword=title:human&amp;result=dataset" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>keyword=title:human&amp;result=<wbr>dataset</a></div><br>
<div>8. refine search to the descriptions of datasets</div>
<div><a href="/api/search?keyword=description:human&amp;result=dataset" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>keyword=description:human&amp;<wbr>result=dataset</a></div><br>
<div>9.refine search to NCBI taxonomic ID</div>
<div><a href="/api/search?taxno=9606&amp;result=dataset" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>taxno=9606&amp;result=dataset</a></div><br>
<div>10. refine search to taxonomic names</div>
<div><a href="/api/search?taxname=Homo%20sapiens&amp;result=dataset" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>taxname=Homo%20sapiens&amp;result=<wbr>dataset</a></div><br>
<div>11. refine search to Authors</div>
<div><a href="/api/search?author=Wang%20Jun" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>author=Wang%20Jun</a></div><br>
<div>12. refine search to linked manuscript IDs</div>
<div><a href="/api/search?manuscript=10.1371/journal.pone.0005795" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>manuscript=10.1371/journal.<wbr>pone.0005795</a></div><br>
<div>13. refine search to dataset types</div>
<div><a href="/api/search?datasettype=Genomic" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>datasettype=Genomic</a></div><br>
<div>14. refine search to project names</div>
<div><a href="/api/search?project=Genome%2010K&amp;result=sample" target="_blank">http://gigadb.gigasciencejournal.com/api/search?<wbr>project=Genome%2010K&amp;result=<wbr>sample</a></div><br>
<div>15. list all dataset doi</div>
<div><a href="/api/list" target="_blank">http://gigadb.gigasciencejournal.com/api/list</a></div><br>
<div>16. dump the database</div>
<div><a href="/api/dump" target="_blank">http://gigadb.gigasciencejournal.com/api/dump</a></div><br>

<h3><a name="0.1_Curl">Command line usage</a></h3>
<div>You can also use the curl commands on the command line to retrieve metadata :</div><br>
<div>eg.</div><br>
<div><p style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:12.8px">curl <a href="http://gigadb.org/api/dataset?doi=100051" target="_blank">http://gigadb.gigasciencejournal.com/api/dataset?<wbr>doi=100051</a><br></p></div>
<div><br>
</div>
<div>If you want to check whether a search will work you can use the -I flag:</div><br>
<div>
<p style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:12.8px"><span>curl -I <a href="http://gigadb.org/api/dataset?doi=100051" target="_blank">http://gigadb.gigasciencejournal.com/api/dataset?<wbr>doi=100051</a></span></p>
<p style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:12.8px"><span>HTTP/1.1 200 OK</span></p>
<p style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:12.8px"><span>or </span></p>
<p style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:12.8px"><span>HTTP/1.1 404 Not Found / </span>HTTP/1.1 500 Internal server error</p>
</div>